server {
    HTTP                1.1
	serverName          server1.com
	clientBodySize      8192
    error_page          404.html
    port                80

    location / {
        method              GET, POST, DELETE
        root                /www
        directory_listing   off
        default             dlfile1.html
        cgiExtension        php
        uploadPath          tmp
    }
    
    location /haha {
        method              GET, POST, DELETE
        root                /www/haha/
        directory_listing   on
        default             dlfile1.html
        cgiExtension        cgi
        uploadPath          haha_upload
    }
    location /kiki {
        method              GET, POST
        redirection         server2.com
        root                /www/kiki/
        directory_listing   off
        default             tmp2.html
        cgiExtension        cgi
        uploadPath          kiki_upload
    }

    location /img {
        method              GET, POST
        root                /www/img/
        directory_listing   off
        default             tmp3.html
        cgiExtension        cgi
        uploadPath          img
    }

    location /cgi-bin {
        method              GET, POST
        root                /www/cgi-bin/
        directory_listing   off
        default             dlfile1.html
        cgiExtension        blabla
        uploadPath          cgi-bin
    }
}

server {
    HTTP                1.1
	serverName          server2.com
	clientBodySize      8192
    error_page          404.html
    port                80 9999

    location / {
        method              GET, POST, DELETE
        root                /www
        directory_listing   off
        default           default_error_page.html
        cgiExtension        php
        uploadPath          tmp
    }
    
    location /haha {
        method              GET, POST, DELETE
        root                /www/haha/
        directory_listing   on
        default           dlfile1.html
        cgiExtension        cgi
        uploadPath          haha_upload
    }
    location /kiki {
        method              GET, POST
        root                /www/kiki/
        directory_listing   off
        default           dlfile1.html
        cgiExtension        cgi
        uploadPath          kiki_upload
    }
    location /img {
        method              GET, POST
        root                /www/img/
        directory_listing   off
        default             dlfile1.html
        cgiExtension        cgi
        uploadPath          img
    }
}