server {
    HTTP                1.1
	serverName          server1
	clientBodySize      8192
    error_page          404.html
    port                80

    location / {
        method              GET, POST, DELETE
        root                /www
        directory_listing   off
        dlDefault           default_error_page.html
        cgiExtension        php
        uploadPath          /www/tmp
    }
    
    location /haha {
        method              GET, POST, DELETE
        root                /www/haha/
        directory_listing   on
        dlDefault dlfile1.html
        cgiExtension       cgi
        uploadPath    /www/haha_upload
    }
    location /kiki {
        method              GET, POST
        redirection         /haha
        root                /www/kiki/
        directory_listing   off
        dlDefault blabla2.file
        cgiExtension       cgi
        uploadPath    /www/kiki_upload
    }
    location /img {
        method              GET, POST
        root                /www/img/
        directory_listing   off
        dlDefault dlfile1.html
        cgiExtension       cgi
        uploadPath    /www/img
    }
}

server {
    HTTP                1.1
	serverName          server1
	clientBodySize      8192
    error_page          404.html
    port                80 9999

    location / {
        method              GET, POST, DELETE
        root                /www
        directory_listing   off
        dlDefault           default_error_page.html
        cgiExtension        php
        uploadPath          /www/tmp
    }
    
    location /haha {
        method              GET, POST, DELETE
        root                /www/haha/
        directory_listing   on
        dlDefault dlfile1.html
        cgiExtension       cgi
        uploadPath    /www/haha_upload
    }
    location /kiki {
        method              GET, POST
        redirection         /haha
        root                /www/kiki/
        directory_listing   off
        dlDefault blabla2.file
        cgiExtension       cgi
        uploadPath    /www/kiki_upload
    }
    location /img {
        method              GET, POST
        root                /www/img/
        directory_listing   off
        dlDefault dlfile1.html
        cgiExtension       cgi
        uploadPath    /www/img
    }
}