server {
    HTTP                1.1
	serverName          server1
	errorPagePath       default_error_page.html
	clientBodySize      8192
    port                80
	root                /www/
    cgiExtension        cgi
    
    location /HAHA {
        method              GET POST DELETE
        redirection         server2
        root                /wwww/hoho/
        directory_listing   on
        dlDefault blabla.file
        cgiExtension       cgi
        uploadPath    /www/upload_directory
        return 307 blabla2 
    }
    location /KIKI {
        method              GET POST DELETE
        redirection         127.0.0.1
        root                /wwww/kiki/
        directory_listing   off
        dlDefault blabla.file
        cgiExtension       cgi
        uploadPath    /www/upload_directory
        return 307 blabla2 
    }
}

server {
	serverName          server2
	errorPagePath       blabla.file
	clientBodySize      8192
	root                /www/
    port                9999
    location /HAHA {
        method              GET POST DELETE
        redirection         ?
        root                /wwww/hoho/
        directory_listing   on
        dlDefault blabla.file
        cgiExtension       .cgi
        uploadPath    /www/upload_directory
        return 307 blabla2 
    }
    location /KIKI {
        method              GET POST DELETE
        redirection         127.0.0.1
        root                /wwww/kiki/
        directory_listing   off
        dlDefault blabla.file
        cgiExtension       .cgi
        uploadPath    /www/upload_directory
        return 307 blabla2 
    }
}